{% extends "mail/layout.html" %} {% load static %} {% block body %}
<div class="backdrop"></div>
<div class="my_modal">
  <h3 class="modal__title text-center">Message</h3>
  <p id="modal__message">Status</p>
  <button id="modal__action--negative" class="btn">Close</button>
</div>

<h2 id="user-name">{{ request.user.email }}</h2>

<button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
<button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
<button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
<button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
<a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
<hr />

<div id="emails-view">
  <h3 id="emails-view-heading"></h3>
  <div class="list-group" id="list-group"></div>
</div>

<div id="compose-view">
  <h3>New Email</h3>
  <form id="compose-form">
    <div class="form-group">
      From:
      <input disabled class="form-control" value="{{ request.user.email }}" />
    </div>
    <div class="form-group">
      To: <input id="compose-recipients" class="form-control" />
    </div>
    <div class="form-group">
      <input class="form-control" id="compose-subject" placeholder="Subject" />
    </div>
    <textarea
      class="form-control"
      id="compose-body"
      placeholder="Body"
      rows="10"
    ></textarea>
    <input
      type="submit"
      class="btn btn-primary mt-3 mb-5"
      id="send-email-btn"
    />
  </form>
</div>
<div id="single-view">
  <h3>Mail</h3>
  <div id="details"></div>
</div>
{% endblock %} {% block script %} {% comment %} defer tag for adding script
after DOM content loaded {% endcomment %}
<script src="{% static 'mail/mailBox.js' %}" defer></script>
<script src="{% static 'mail/inbox.js' %}" defer></script>
<script src="{% static 'mail/sendMail.js' %}" defer></script>
<script src="{% static 'mail/singleMail.js' %}" defer></script>
<script src="{% static 'mail/replyMail.js' %}" defer></script>
<script src="{% static 'mail/handleModal.js' %}" defer></script>
{% endblock %}
