body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;        
}
a {
    margin: 1rem;
}
.header {
    align-self: flex-end;
    height: 10vh;
    display: flex;
    align-items: center;
}
.main {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 7.5%;
}
form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-container {
    input{
        padding: 10px 30px;
        font-size: 16px;
        width: 400px;
        margin: 0.5rem;
        border: 1px solid #dfe1e5;
        border-radius: 25px;
    }
    input:focus{
        outline: none;
    }
    input:hover {
        box-shadow: 0 1px 6px rgba(32,33,36,.28);
        border-color: rgba(223,225,229,0);
    }
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87)
}
top-links:hover{
    text-decoration: underline;
    color: #3c4043;
}
.form-buttons {
    padding: 12px 18px;
    border-radius: 3px;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    color: #3c4043;
}
.form-buttons:hover{
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f9fa;
    color: #202124;
    cursor: pointer;
}
.form-buttons:focus{
    border: 1px solid #4d90fe;
    outline: none;
}

.icon { 
    position: absolute;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
} 
.input-container {
    width: 100%;
    text-align: center;
}
.buttons {
    width: 100%;
    text-align: center;
    .form-buttons {
        margin: 10px;
        font-size: 14px;
    }
}
.camera {
    margin-left: -50px;
}

.header-search{
    width: 100%;
    height: 8vh;
    justify-content: space-between;
    img {
        margin-left: 24px ;
    }
    background-color: #f1f1f1;
}

.upper-main {
    margin: 0;
    border-bottom: 1px solid  #f1f1f1;
    p {
        padding: 16px 25px;
        margin-left: 25px;
        color: #D93025;
        font-size: 20px;
    }

}

.advance-main{
    margin-top: 24px;
    align-items: start;
    text-align: left;
}
.grid {
    // background-color: green;
    width: 90%;
    display: grid;
    padding: 20px 20px 20px 0;
    margin-left: 50px;
    // grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 200px max(500px) minmax(100px, 300px);
}

.grid-item {
    background-color: white;
    font-size: 13px;
    .grid-item_top {
        font-size: 16px;
    }

    input {
        font-size: 13px;
        padding: 1px 8px;
        width: calc(100% - 20px);
        border-radius: 1px;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        font-size: 13px;
        height: 25px;
    }
    input:focus{
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        border: 1px solid #4d90fe;
        outline: none;
    }
    label{
        display: block;
        margin: 7px 0;
    }
}
.extra span{
    display: block;
    padding: 18px 0;
    color: #777777;
}
.extra_samples {
    font-size: 11px;
    padding: 0px 5px !important;
}

.submit {
    grid-column-start: 2;
    // grid-column-end: 3;
    text-align: right;
    // margin: 10px 0
    input{
        background-color: #4d90fe;
        border: 1px solid #3079ed;
        color: #fff;
        border-radius: 2px;
        cursor: pointer;
        font-size: 11px;
        font-weight: bold;
        text-align: center;
        line-height: 100%;
        height: 30px;
        min-width: 120px;
    }
    input:focus{
        border: rgba(0,0,0,0) solid 1px;
        outline: rgba(0,0,0,0) 0;
    }
}



@media (max-width: 960px){
    .grid{
        grid-template-columns: 200px minmax(200px, 500px);
    }
    .extra {
        // visibility: collapse;
        display: none;
    }
}


@media (max-width: 600px) {
    img {
        width: 250px
    }
    .header-search img{
        width: 70px;
    }
    .header a {
        margin: 8px;
    }
    .main{
        margin-top: 20%;
    }
    form-buttons {
        font-size: 12px;
        padding: 0.75rem;
        margin: 0.5rem;
    }
    input[type="text"] {
        width: 200px;
    }
    .advance-main{
        margin-top: 24px;
    }
    .grid {
        grid-template-columns: 300px;
        grid-row-gap: 5px;

        .grid-item input{
            width: 80%;
        }
    }
    .submit{
        grid-column-start: 1;
        input{
            margin: 12px 40px 0 0;
        }
    }
}


