{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}


{% block body %}
    <div class="col-sm-12 col-md-8">
        <h3>Add Your Listing Below.</h3>
        <div class="p-2 mb-2 bg-secondary text-white">
        <small>"*": means required.</small><br>
        <small>For multi selection in Categories section use <code>Ctrl/Cmd + Click</code> </small>
        
        </div>
        <form action="{% url 'auctions:create' %}" method="post">
            {% csrf_token %}
            {{ form | crispy }}
        <input class="btn btn-primary" type="submit" value="Create">
        </form>
    </div>
{% endblock body %}