{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    {% if followings == 0 %}
      <h3 class="text-center">You are not following anybody yet!</h3>
    {% else %}
      <h3 class="text-center">Followings</h3>
    {% endif %}
    {% comment %} Posts  {% endcomment %}
    <div class="container">
        {% for post in posts %}
            {% include 'network/posts/singlePost.html' %}
        {% endfor %}
        {% comment %} Pagination {% endcomment %}
        {% include 'network/posts/pagination.html' %}
    </div>
{% comment %} Like/Unlike Speaciality {% endcomment %}
{% block 'script' %}
  <script src="{% static 'network/like.js' %}" defer></script>
{% endblock %}

{% endblock %}
