textarea#id_post {
  height: 4em;
  width: -webkit-fill-available;
}

ul {
  list-style: none;
}

.authenticated_heart {
  cursor: pointer;
}

.hidden {
  display: none;
}

.disabled {
  cursor: not-allowed;
}

.red {
  color: red;
}

.follow-button {
  position: absolute;
  right: 0.5rem;
}
